<h1>Welcome, This is the homepage</h1>
<h2>These are our users:</h2>
<% @users.each do |user| %>
    <h2><%= link_to(user.fname + " " + user.lname, user_path(user) ) %></h2>
    <h2><%=user.uname%></h2>
<% end %>

