<div class="container">
<h1>Posts</h1>
    
        <% @posts.reverse.each do |post| %>
            <%@user = User.find(post.user_id) %>
            <div class="post">
                <h3>By: <%=link_to @user.fname, user_path(@user.id)%></h3>
                <% if current_user  == @user %>
                    <p><%= link_to 'Delete', post, :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %> </p>
                <% else %>
            <% end %>
            <h3> <%=link_to post.title, user_post_path(@user.id, post.id)%></h3>
            <p><%=post.content%></p>
            </div>
        <% end %>
    
</div>
